.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
}
h1 {
  background-color: #a077ff;
  padding: 20px 30px;
  border-radius: 30px;
}
ul {
  padding: 0px;
}
li {
  list-style: none;
  margin-bottom: 10px;
  background-color: #d6bbff;
  padding: 6px 5px 6px 15px;
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
  border-radius: 15px;
  color: #333333;
}
li:last-child {
  margin-bottom: 0px;
}
input {
  width: 15rem;
  background-color: #ffcaf8;
  border: none;
  padding: 8px 0px 8px 15px;
  border-radius: 15px;
  font-size: 18px;
  color: #333333;
}
input::placeholder {
  color: #333333;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
